model_config_list {
  config {
    name: '1'
    base_path: '/models/1'
    model_platform: 'tensorflow'
  }
  config {
    name: '2'
    base_path: '/models/2'
    model_platform: 'tensorflow'
  }
  config {
    name: '3'
    base_path: '/models/3'
    model_platform: 'tensorflow'
  }
}
